<div class="container">
  <div class="col-md-4">
    <img class="profile-pic" src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=o6u9Tq%2FiOJm8OxArAcTdAq%2Fy5Lk%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R69hAxU0Rks6bmIpkb-50hKCoTTEHX8RHTuvoTTOCq8J4OcZuH--hlDJmgewUB2LrzwHWW_VtCjKoPteN0lipPtLJHjNVBROlE8gG9JodY6NRUropW_SPj5bCdN3eIVbj24Mq3gaFwsRy8n-g" alt="">
  </div>
  <div class="col-md-8">
    <ul>
      <h3>Coach <%= current_user.last_name %>'s Dashboard</h3><br>
      <p>Institution: <%= current_user.profile.institution %></p>
      <p>Current Teams: </p>
      <% current_user.teams.each do |team| %>
        <ul>
          <li><%= team.name %></li>
        </ul>
      <% end %>
      <p>Email: <%= current_user.profile.email %></p>
      <p>Phone: <%= current_user.profile.phone_number %></p>
      <br><br><br>
      <h4>Upload CSV for game stats:</h4>
      <%= form_tag uploads_path, multipart: true do %>
        <%= file_field_tag :file, :class => 'btn btn-warning start-rec' %>
        <%= submit_tag "Upload CSV", :class => 'btn btn-warning start-rec' %>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="col-md-12 prf-sum">
    <br>
    <h3> Your Teams </h3>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Teams</a></li>
        <% current_user.teams.each do |team| %>
          <li><%= link_to team.name, "##{team.name}", "data-toggle" => "tab" %></li>
        <% end %>
    </ul>

        <div class="tab-content">
          <% current_user.teams.each do |team| %>
            <% team.players.each do |player| %>
              <div id="#">

              </div>
          <table class="prospect-table">
              <tr>
                <th>Name</th>
                <th>Grade Level</th>
              </tr>
              <tr>
                <td><%= link_to player.name, player_profile_path(player.profile)%></td>
                <td><%= player.profile.grade_level %></td>
              </tr>
            <% end %>
          </table>
      <% end %>
      </div>
    </ul>
  </div>
</div>
