<div class="container">
  <div class="col-md-4">
    <img class="profile-pic" src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=o6u9Tq%2FiOJm8OxArAcTdAq%2Fy5Lk%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R69hAxU0Rks6bmIpkb-50hKCoTTEHX8RHTuvoTTOCq8J4OcZuH--hlDJmgewUB2LrzwHWW_VtCjKoPteN0lipPtLJHjNVBROlE8gG9JodY6NRUropW_SPj5bCdN3eIVbj24Mq3gaFwsRy8n-g" alt="">
  </div>
  <div class="col-md-8">
    <ul>
      <h3><%= current_user.name %>'s Dashboard</h3><br>
      <h3><%= link_to "Create Profile", new_player_profile_path(current_user) %></h3>
      <h3><%= link_to "Edit Profile", edit_player_profile_path(current_user) %></h3>
      <p>School: <%= current_user.profile.school %></p>
      <p> Grade: <%= current_user.profile.grade_level %></p>
      <p>   GPA: <%= current_user.profile.gpa %></p>
      <p>Guardian's Phone: <%= current_user.profile.guardian_phone %></p>
      <br><br>
      <table class="prospect-table">
        <tr>
          <th>Height</th>
          <th>Weight</th>
          <th>Total Points</th>
          <th>Total Fouls</th>
        </tr>
        <tr>
          <td><%= current_user.profile.height %></td>
          <td><%= current_user.profile.weight %></td>
          <td><%= PlayerStat.player_total_points(current_user) %></td>
          <td><%= PlayerStat.player_total_fouls(current_user) %></td>
        </tr>
      </table>
    </ul>
  </div>
</div>

<div class="container">
  <div class="col-md-6 prf-sum">
    <br>
    <% if current_user.favorite_player.nil? %>
      <h5><%= link_to "Add your favorite player's screename to see recent tweets", new_favorite_player_path %></h5>
    <% else %>
      <h5>Favorite Player: <%= current_user.favorite_player.screen_name %> | <%= link_to "Change your favorite player", new_favorite_player_path %></h5>
      <h5><%= current_user.favorite_player.screen_name %>'s Stats:</h5><br>
      <h5>Their Tweets:</h5><br>
        <% @tweet_info.fav_player_tweets.each do |tweet| %>
          <li><%= tweet.text %></li>
          <br>
        <% end %>
    <% end %>
  </div>
</div>
