<h2><%= "Hello #{current_user.first_name}" %></h2>

<% current_user.teams.each do |team| %>
  <%= team.name %>
<% end %>

<% current_user.coaches.each do |coach| %>
  <%= coach.name %>
<% end %>

<%= current_user.profile.school %>
<%= current_user.profile.height %>
<%= current_user.profile.weight %>
<%= current_user.profile.grade_level %>
<%= current_user.profile.gpa %>
<%= current_user.profile.guardian_phone %>
