<%= "Hello" %>

<div class="white">
<div class="container">
  <div class="col-sm-12">
  <h1>  <%= "Hello #{current_user.first_name}" %></h1>
  <h2><%= link_to "Create/update your favorite player", new_favorite_player_path %></h2>

  <h3>Favorite Player:</h3>
  <% if current_user.favorite_player.nil? %>
    <%= "No favorite player selected" %>
  <% else %>
    <li><%= current_user.favorite_player.screen_name %></li>


  <li><% @tweet_info.fav_player_tweets.each do |tweet| %></li>
            <li><%= tweet.text %></li>
        <li><% end %></li>
    <% end %>

    <% current_user.teams.each do |team| %>
      <li><%= team.name %></li>
    <% end %>

    <% current_user.coaches.each do |coach| %>
      <li><%= coach.name %></li>
    <% end %>

    <li><%= current_user.profile.school %>
    <%= current_user.profile.height %>
    <%= current_user.profile.weight %>
    <%= current_user.profile.grade_level %>
    <%= current_user.profile.gpa %>
    <%= current_user.profile.guardian_phone %></li>
  </div>
</div>
</div>
