<div class="body-stripe-left"><p>.</p></div>
<div class="container profile-body">
<div class="body-stripe-right"><p>.</p></div>
<div class="container">
<div class="white">

<div class="container">
  <div class="col-md-4">
    <img src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=o6u9Tq%2FiOJm8OxArAcTdAq%2Fy5Lk%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R69hAxU0Rks6bmIpkb-50hKCoTTEHX8RHTuvoTTOCq8J4OcZuH--hlDJmgewUB2LrzwHWW_VtCjKoPteN0lipPtLJHjNVBROlE8gG9JodY6NRUropW_SPj5bCdN3eIVbj24Mq3gaFwsRy8n-g" alt="">
  </div>
  <div class="col-md-8">
    <ul>
      <li><%= current_user.first_name %></li>
      <li><%= current_user.profile.institution %></li>
      <li><%= current_user.profile.email %></li>
      <li><%= current_user.profile.phone_number %></li>
    </ul>
  </div>
</div>

<div class="col-md-8 prf-sum">
  <h2><%= current_user.prospects.count %> Prospects</h2>
  <hr>
  <% current_user.prospects.each do |prospect| %>
    <h4> <%= link_to prospect.name, player_profile_path(prospect.player_profile) %> </h4>
      <h5>
        <%= prospect.player_profile.school %>,
        Grade level: <%= prospect.player_profile.grade_level %>
      </h5>
  <% end %>
</div>
