<h1><%= @team.name%>'s Stats'</h1>


<%= @team.coaches.each { |coach| "#{coach.first_name} #{coach.last_name}"} %>
<li>Players: <%= @team.players.count %></li>
<%= @team.total_points %>
<%= @team.total_fouls %>
