<div class="white">
<h1>Chatting with <%= @conversation.with(current_user).username %></h1>

<div id="converation-main">
  <div id="conversation-body">
    <%= render @conversation.personal_messages %>
  </div>

  <%= form_for @personal_message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.text_area :body %>

    <%= f.submit "send"%>
  <% end %>
</div>
</div>
