<h1>Fill Out Profile</h1>

<%= form_for @recruiter_profile do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :institution %>
  <%= f.text_field :institution %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.hidden_field :recruiter_id, value: @recruiter_id %>

  <%= f.submit "Create Profile" %>

<% end %>
