<div class="container text-center">


<h1>Fill Out Profile</h1>

<%= form_for @recruiter_profile do |f| %>

  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %><br>

  <%= f.label :institution %><br>
  <%= f.text_field :institution %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :phone_number %><br>
  <%= f.text_field :phone_number %><br>

  <%= f.hidden_field :recruiter_id, value: @recruiter_id %>

  <%= f.submit "Create Profile" %>

<% end %>

</div>
