<div class="container text-center">



<h1>Create New Account</h1>

<%= form_for @player do |f| %>
  <br>
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name, id: "first_name" %><br>
  <br>
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name, id: "last_name" %><br>
  <br>
  <%= f.label :username %><br>
  <%= f.text_field :username, id: "username" %><br>
  <br>
  <%= f.label :password %><br>
  <%= f.password_field :password, id: "password" %><br>
  <br>
  <%= f.label :confirmation_password %><br>
  <%= f.password_field :confirmation_password, id: "confirmation_password" %><br>
  <br>
  <%= f.hidden_field :type, value: "Player" %>
  <%= f.hidden_field :uid, value: @uid %>
  <br>
  <%= f.submit "Create Account"%>

<% end %>

</div>
