<div class="white">
<h1>New message to <%= @receiver.username %></h1>

<%= form_for @personal_message do |f| %>
  <%= hidden_field_tag 'receiver_id', @receiver.id %>

  <%= f.text_area :body %>

  <%= f.submit "Send"%>
<% end %>
</div>
