<!-- <div class="col-md-3">
    <div class="card card-outline-info mb-3 text-center">
      <div class="card-block">
        <p><%#= image_tag "http://via.placeholder.com/140x100" %></p>
        <h4><%#= link_to player_profile.player.first_name, player_profile_path(player_profile.id) %></h4>
      </div>
    </div>
</div> -->

<div class="container">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <td style="width: 20%"><%= link_to player_profile.player.name, player_profile_path(player_profile.id)%></td>
          <td style="width: 20%"><%= player_profile.school %></td>
          <td style="width: 20%"><%= player_profile.player.teams.first.name %></td>
          <td style="width: 10%"><%= player_profile.grade_level %></td>
          <td style="width: 10%"><%= player_profile.gpa %></td>
          <td style="width: 10%"><%= player_profile.height %></td>
          <td style="width: 10%"><%= player_profile.weight %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
