<div class="body-stripe-left"><p>.</p></div>
<div class="container profile-body">
  <div class="body-stripe-right"><p>.</p></div>
<div class="container">
  <div class="white">
  <div class="row">

        <h3 id="id" class="hidden"><%= @player.id %></h3>

  </div>
  <div class="row">
    <div id="ath-profile-id" class="hidden"><%= @player.id %></div>
    <div class="col-md-4">
      <div class="row">
        <div class=col-md-8>
          <%= image_tag("players/bball_prof.png", :id => "ath-profile-pic") %>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-md-12 player-name">
            <h3><%= @player.name %></h3>
            </br>
          </div>
        </div>
        <div class="col-md-4 team-name">
          <h5><%= @player.team.name %></h5>
          <%= image_tag("players/team_logo.png", :id => "ath-team-logo") %>
          </div>
        <div class="col-md-8 prf-sum">
          <h4><%= @player.school %></h4>
          <h4><%= @player.grade %></h4>
          <h4><%= @player.height %></h4>
          <h4><%= @player.weight %></h4>
          <h4><%= @player.gpa %></h4>
          <% if current_user.id == @player.id %>
          <%= link_to "Edit", edit_player_path(@player), :class => "btn edit-btn"%>
          <% end %>
        </div>
      </div>
      <div class='row'>
        <% unless @player.teams.count == 0 %>
        <div class="upcoming-games">
          <h3>Upcoming Games</h3>
          <div class="row">
            <div class="col-md-1"> </div>

            <div class="col-md-10">
              <div class="list-board">
                <ul class="upcoming">
                  <% @player.upcoming.map do |game| %>
                  <li class="game">
                    <p><%= game.when %></p>
                  <p>  VS: <%= game.vs(@player) %></p>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="col-md-1"> </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class='row upcoming-row'>
        <h3>Upcoming Games</h3>
      </div>
    </div>


    <div class="col-md-8 ath-profile-stats">
      <div class="stats-bar"><p>something</p></div>
      <div class="recruitment-btn">
        <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        <%= button_to 'Start Recruitment', send_text_path(player_id: @player.id), method: :post, :class => 'btn btn-warning start-rec' %>
      </div>
      <div class="row">
        <div class="col-md-12 stats-title">
          <h1><%= @player.first_name.upcase %>'s STATS</h1>
          <canvas id="ath-profile-stats" width="1000" height="700"></canvas>
          <%= javascript_include_tag "charts/stats.js" %>
        </div>
      </div>
    </hr><br>
      <div class="stats-row">
        <p>something</p>
      </div>
    </div>
  </hr>
  </div>
</div>
</div>

<%= render "upcoming_game_facilities" %>
