<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        position: absolute;
        right: 20px;
        height: 400px;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <h1><%= @player.name %></h1>
    <div>
      <h3>Upcoming Games</h3>
      <% unless @player.teams.count == 0 %>
      <ul class="upcoming">
        <% @player.upcoming.map do |game| %>
          <li class="game">
            <%= game.when %> VS: <%= game.vs(@player) %>
          </li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <div class="container">
      <div id="map"></div>
    </div>
    <script src="../../mapScript.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?callback=initMap">
    </script>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= button_to 'Start Recruitment', send_text_path(player_id: @player.id), method: :post %>
  </body>
</html>
