
<div class="container profile-body">
  <div class="container">
    <div class="row player-heading-border">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <div class="col-md-10">
        <h3><%= @player.name %></h3>
        <% if @hot %>
          <%= image_tag 'fire_icon.jpg', size: "25x25" %>
        <% end %>
      </div>
      <div class="col-md-2 recruit-button">
        <% if current_user.type == "Recruiter" && @player_profile.active? %>
        <p><%= button_to 'Start Recruitment', send_text_path(player_id: @player.id), method: :post, :class => 'btn btn-warning start-rec' %></p>
        <p><%= button_to "Add to Watchlist", create_watch_list_path(player_id: @player.id), method: :post, class: "btn btn-success start-rec" %></p>
        <% elsif current_user.type == "Recruiter" && @player_profile.inactive? %>
        <p><%= button_to 'Start Recruitment', send_text_path(player_id: @player.id), disabled: :true, method: :post, :class => 'btn btn-warning start-rec' %></p>
        <p><%= button_to "Add to Watchlist", create_watch_list_path(player_id: @player.id), method: :post, class: "btn btn-success start-rec" %></p>
        <% elsif current_user == @player %>
          <%= button_to "Edit Your Profile", edit_player_profile_path(current_user), method: :get, class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row">

      <div class="col-md-4">
        <%= image_tag "basketball_player_1.jpg" %>
      </div>

      <div class="col-md-8 stats-title stats-border">
        <h5><%= @player.first_name.upcase %>'s STATS</h5>
        <div id="ath-profile-id" class="hidden"><%= @player.id %></div>
          <p id="id" class="hidden"><%= @player.id %></p>
            <canvas id="ath-profile-stats" width="1000" height="700"></canvas>
            <%= javascript_include_tag "charts/stats.js" %>
          </div>
        </div>
      </div>

    <hr>

    <div class="row">
      <div class="col-md-12 table-border">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
              <th style="width: 20%">Team</th>
              <th style="width: 20%">School</th>
              <th style="width: 10%">Grade</th>
              <th style="width: 10%">GPA</th>
              <th style="width: 15%">Height (inches)</th>
              <th style="width: 15%">Weight (pounds)</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <% if @player.teams != nil %>
                <td style="width: 20%">
                <% @player.teams.each do |team| %>
                  <%= team.name %>
                  <% end %>
                </td>
                <% end %>
                <td style="width: 20%"><%= @player.school %></td>
                <td style="width: 20%"><%= @player.grade %></td>
                <td style="width: 5%"><%= @player.gpa %></td>
                <td style="width: 5%"><%= @player.height %></td>
                <td style="width: 15%" class="text-center"><%= @player.weight %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-5 upcoming-border">
        <br>
        <%= image_tag 'basketball-black-and-white-clipart.gif', size: "150x150", class: "center" %>
      <br>
      <div class="game">
        <% unless @player.teams.count == 0 %>
        <ul class="list-group">

          <% @player.upcoming.map do |game| %>
          <li class="list-group-item"><%= game.when %>: <%= @player.team.name %> VS: <%= game.vs(@player) %> </li>
          <% end %>
        </ul>
      <% end %>
      </div>
     </div>
      <%= render "upcoming_game_facilities" %>
    </div>
  </div>
</div>

<br>
<br>
<br>
