<h1>Create Favorite Player</h1>

<% form_for @favorite_player do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :position %>
  <%= f.text_field :position %>

  <%= f.label :team %>
  <%= f.text_field :team %>

  <%= f.label :stats %>
  <%= f.text_field :stats %>


  <%= f.submit "Create Pokemon"%>

<% end %>
