<!DOCTYPE html>
<html>
  <head>
    <title>YouthSports</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <body>

              <ul>
                <li><a href="#Sign up">Sign Up as a Recruiter</a></li>
                <li><a href="#Sign up">  <%= link_to "Sign Up as an Athlete", new_player_path %> </a></li>
                <li><a href="#Sign up">Sign Up as a Coach</a></li>
                <li><a href="#Login">Login</a></li>
                <li><a href="#Logout">Logout</a></li>
              </ul>

            </body>
            <%= link_to "Login with facebook", "https://www.facebook.com/v2.10/dialog/oauth?client_id=#{ENV['FACEBOOK_APP_ID']}&redirect_uri=http://localhost:3000/auth/facebook/callback" %>
            <li><a href="/auth/twitter">Login with Twitter</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
