<!DOCTYPE html>
<html>
  <head>
    <title>YouthSports</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/0d9b1a86b2.js"></script>
  </head>

  <body>
      <a class="navbar-brand navbar-text" href="/">RecruiteMe</a>
      <% if current_user.nil? %>
        <%= render partial: "layouts/unregistered_navbar" %>
      <% else %>
        <%= render partial: "layouts/logged_in_navbar" %>
      <% end %>

    <div class="container">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
      <% end %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield %>
  </body>
</html>
